.main_contacto {
    img {
        width: 5%
    }

    ul {
        font-size: 2rem;
    }

    h1 {
        background-color: white;
        font-size: 4rem;
        width: 100%;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        background-color: white;
        font-size: 2.5rem;
        text-align: start;
    }

    p {
        text-align: start;
    }
}