.main_cuarteles {
    img {
        width: 100%;
    }

    h1,
    h2 {
        color: white;
        background-color: #ff4b4b;
    }

    h2 {
        margin-top: 5px;
    }

    .mapa_central,
    .mapa_destacamento {
        width: 100%
    }
}