.main {
    h1 {
        color: rgb(0, 43, 160);
        font-size: 5rem;
        text-align: center;

    }

    ul {
        font-size: 3rem;
        display: flex;
        text-align: center;
        background-color: hsla(246, 100%, 50%, 0.096);
        border-top: solid 2px #ff0000;
        border-bottom: solid 2px red;
    }

    li {
        width: 100%
    }

    h2 {
        color: white;
        background-color: $fondoh2
    }

    h3 {
        color: white;
        background-color: $fondoh3
    }

    .caratula_index {
        display: flex;
        flex-direction: column;

        .emergencias {
            h2 {
                color: rgb(0, 43, 160);
                font-size: 5rem;
                text-align: center;
                background: none;
            }
            a {
                color: rgb(0, 43, 160);
                text-decoration: none;
                font-weight: lighter;
            }
        }
    }

    .cuerpo_index {
        img {
            width: 100%
        }

        h2,
        h3 {
            margin-top: 10px;
            margin-bottom: 5px;
        }

        .historia_container div,
        .pedro_container div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
        }
    }
}