.main_parqueautomotor {
    h1 {
        @include titulos(white, $fondoh1, 5px)
    }

    h2 {
        color: white;
        background-color: $fondoh2
    }

    p {
        font-weight: bold;
        width: 100%;
    }

    img {
        width: 100%
    }
}