.main_parqueautomotor {
    h1 {
        color: white;
        background-color: #ff4b4b;
    }

    h2 {
        color: white;
        background-color: #ff4b4b;
    }

    p {
        font-weight: bold;
        width: 100%;
    }

    img {
        width: 100%
    }
}